{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}

<script src="/media/js/jquery.js"></script>
<script>
    $(document).ready(function() {
        var object_id = '{{ object_id }}'

        $.each($('.enable_after_save'),function () {
            if (object_id == '') {
                $(this).attr('disabled','disabled')
                $(this).attr('title','Доступно только после сохранения объекта');
            }
        });

        $('.move_to_submit_row').insertAfter('.submit-row>input:last');

        {# FF fix #}
        if ($.browser.mozilla) {
            $(function() {
                $('input[disabled][title]')
                    .removeAttr('disabled')
                    .addClass('disabled')
                    .click(function() {return false})
            });
        }
    });
</script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}

    {% if original.get_absolute_url %}
        <input value="{% trans "Предпросмотр" %}"
         onclick="javascript: window.open('{{ original.get_absolute_url }}')"
         class="move_to_submit_row enable_after_save" type="button"/>
    {% endif %}
{% endblock after_field_sets %}